.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94px;
  display: flex;
  font-size: 22px;
  color: #999;
  z-index: 10000;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.bottom .tab_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.bottom .tab_item .tab_img {
  width: 42px;
  height: 42px;
}
.bottom .scale {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #F0AF09;
  align-items: center;
  width: 110px;
}
.bottom .scale span {
  margin-top: 47px;
}
.bottom .scale .tab_img {
  position: absolute;
  top: -32px;
  width: 42px;
  height: 42px;
  color: #fff;
  padding: 12px;
  border: 5px solid #fff;
  background-color: #F0AF09;
  border-radius: 50%;
}
